.ant-layout {
  height: 500px;
}

.box {
  height: 600px;
  overflow: scroll;
}

.QuestionClass_addType {
  width: 80%;
  margin: 0 10%;
  background: #fff;
  border-radius: 20px;
}

.title {
  margin-left: 10%;
  height: 100px;
  line-height: 100px;
}

.ant-table-thead tr {
  background: #ccc;
}

.ant-btn {
  width: 100px;
  height: 30px;
  margin: 30px;
}
