.exam-wrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
}

.exam-tit{
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 34px;
  background:rgb(240, 242, 245)
}

.exam-con{
  width: 100%;
  
  padding: 30px 25px  40px 25px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
}


.createBtn{
  margin-top: 20px;
}