:global .QuestionClass_addType {
  width: 80%;
  margin: 0 10%;
  background: #fff;
  border-radius: 20px;
}

:global .title {
  margin-left: 10%;
  height: 100px;
  line-height: 100px;
}

:global .ant-table-thead tr {
  background: #ccc;
}

:global .addBox .ant-btn {
  width: 100px;
  height: 30px;
  margin: 30px;
}
