// section{
//   height: 100%;
// }
.box {
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  padding: 0 20px;
}

.QuestionClass_addType {
  width: 100%;
  background: #fff;
  border-radius: 20px;
}

.title {
  background: rgb(240, 242, 245);
  height: 70px;
  line-height: 70px;
  font-size: 34px;
}

.ant-table-thead {
  tr {
    background: #ccc;
  }
}

.ant-btn {
  width: 150px;
  height: 40px;
  margin: 30px 10px;
}

.loading {
  position: fixed;
  top: 100px;
  left: 20%;
  width: 100%;
  height: 100%;
  background: #ccc;
}
