* {
    margin: 0;
    padding: 0;
}

.ol {
    width: 100%;
    display: flex;
    list-style: none;
}

.ol li {
    height: 35px;
    padding: 0 10px;
    text-align: center;
    line-height: 35px;
    border: solid 1px #ccc;
    background: #fff;
}

.ol li.active {
    background: #1890ff;
    color: #fff;
}

.user {
    padding:0 20px;
}

.h1 {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: rgb(240, 242, 245);
    font-size: 34px
}

.dl {
    display: flex;
    justify-content: space-between;
}

.dl dt {
    display: flex;
}

.dl dt p {
    width: 200px;
}
